#footer {
	min-height: 500px;
}
.footer_bottom{
    background: #232323;
    margin-top: 100px;
    padding-bottom: 0.944in;
}

.topcol {
	padding: 40px;
}
.title-col {
	color: #CCCCCC;
	padding: 5px 0px;
	margin-bottom: 15px;
	border-bottom: 1px solid #CCCCCC;
	text-transform: uppercase
}
.topcol ul li {
	padding: 7px 0px;
}
.topcol ul li a {
	color: #c8c8c8;
}
.topcol li:hover a, .link-pageft li:hover a {
	color: #FF6699 !important;
}

.botcol{
	padding-right: 5px;
	padding-bottom:0;
}

.box {
	padding: 5px 0px;
	overflow: hidden;
}
.box h3 {
	margin-top:10px;
	color: rgb( 204, 204, 204 );
	text-transform: uppercase;
}
.box span {
	color: #C8C8C8;
	display: block;
	line-height: 20px;
}
.box-4 {
	color: #C8C8C8;
	line-height: 45px;
}
.box-img {
	float: left;
	width: 45px;
	height: 45px;
	text-align: center;
	background: #333;
	border-radius: 50%;
    padding-top: auto;
    padding-bottom: auto;
	margin-right: 10px;
}
.box li {
	float: left;
	margin-right: 10px;
}

.sub-ft {
	height: 45px;
	background: #333;
}

.content-dk, .socical {
	padding: 7px 0;
}
.socical {
    float: right;
}
.zo-form input {
	line-height: 30px;
	padding: 0px 10px;
	float: left;
	border: none;
	background: transparent;
	outline: 0;
}
.zo-form input:focus, .zo-form input:actice, .zo-form input:hover{
	border:none !important;
}

button.le-button {
	border: none;
	background: transparent;
	height: 30px;
	color: #d3c2c6;
}
.content-dk h3 {
	display: inline-block;
    font-size: 12px;
    color: #C8C8C8;
	text-transform: uppercase;
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}
.socical ul li {
	float: left;
	margin-right: 15px;
	font-size: 20px;
	width: 35px;
	border: 1px solid #c8c2c3;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
	margin-top: -3px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.socical ul li{
    margin-right:10px;
    margin-bottom: 10px;
    list-style-type: none;
}
.socical ul li:hover{
	background: #FE3299;
	border-color: #FE3299;
}
.socical ul li.zalo a{
	display: inline-block;
}
.socical .fa {
	color: #c8c2c3;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.socical ul li:hover .fa{
	color: #fff
}
.socical .twitter:hover {
	background:#1DA1F2 ;
	border-color:#1DA1F2 ;
	color:white;
}
.socical .instagram:hover {
	background:#29669C ;
	border-color:#29669C ;
	color:white;
}
.socical .facebook:hover {
	background:#3B5999 ;
	border-color:#3B5999 ;
	color:white;
}
.socical .youtube:hover {
	background:#FE0000 ;
	border-color:#FE0000 ;
	color:white;
}
.socical .mobile:hover {
	background:#87C442 ;
	border-color:#87C442 ;
	color:white;
}

.socical a:hover i{
	color:white;
}

@media screen and (max-width: 1024px) {

	.sub-ft {
		height: inherit;
    }
}
@media (min-width: 1200px){
	.container {
		width: 1200px;
	}
	.footer_container{
		padding: 0 70px;
	}
}

@media (min-width: 1300px){
	.container {
		width: 1290px;
	}
}
@media screen and (max-width: 768px) {
	.content-dk h3{
		float: none;
		display: block;
    }
    .socical ul{
		margin-top: 10px;
	}
}
