/* #region temp*/
#content {
    margin-top: 100px;
}
/* #endregion */

/* #region global*/
ul{
    list-style-type: none;
}

/* #endregion */
/* #region nav*/
.logo_menu a{
    font-size: 20pt !important;
}
.nav_bar{
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}
.nav_bar ul{
    text-align: center;

}
.menu_item{
    display: -webkit-inline-flex;
    margin-right: 20px;
}
.menu_item a{
    text-transform: uppercase;
    font-size: 1.2rem;
    display: block;
    font-weight: 600;
}

/* #endregion */

/* #region slide*/
.slide{
    position: relative;
}
/* #endregion */